@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: royalblue;
  --background: white;
  --text: black;
}

[data-theme='dark'] {
  --primary: royalblue;
  --background: black;
  --text: white;
}
