@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: royalblue;
  --background: black;
  --text: white;
}

[data-theme='dark'] {
  --primary: royalblue;
  --background: black;
  --text: white;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.icon {
  width: 24px;
  height: 24px;

  color: red;
}
.icon-bars {
  color: green;
  width: 18px;
  height: 12px;
}

.icon:hover {
  color: blue;
}
.icon:active {
  color: green;
}
.icon:focus {
  color: yellow;
}
